---
// src/pages/about.astro
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="container">
    <div class="header">
      <h1>TBD</h1>
    </div>

    <!-- All the rest of your about page content and CSS goes here -->

  </main>
</Layout>